body{
    background-color: plum;
}
.form{
    width: 750px;
    height: 350px;
    background-color: white;
    display: flex;
    border-radius: 10px;
    margin: 150px 350px;

}
.left{
    width: 40%;
    background-image: url(photo_5301056724053724186_x.jpg);
    background-size: cover;
    background-position: center;
}
.right{
    width: 60%;
    padding: 35px;
}
table{
    width: 100%;

}
td {
    font-size: 16px;
    color: #444;
}
input, select {
    width: 100%;
    padding: 10px;
    border: 1px;
    border-radius: 16px;
}
button {
    padding: 10px 20px;
    border: none;
    background-color:#2ecc72 ;
    color: white;
    border-radius: 16px;
    cursor: pointer;
}
button:hover{
    font-size: 15px;
}